
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="latest-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Xe nổi bật</h2>
                    <a href="cars.html">Xem thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <a href="car-details.html"><img src="assets/images/product-1-370x270.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                        <h6><small><del> $11199.00</del></small> $11179.00</h6>

                        <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                        <small>
                            <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <a href="car-details.html"><img src="assets/images/product-2-370x270.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                        <h6><small><del> $11199.00</del></small> $11179.00</h6>

                        <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                        <small>
                            <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <a href="car-details.html"><img src="assets/images/product-3-370x270.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                        <h6><small><del> $11199.00</del></small> $11179.00</h6>

                        <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                        <small>
                            <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <a href="car-details.html"><img src="assets/images/product-4-370x270.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                        <h6><small><del> $11199.00</del></small> $11179.00</h6>

                        <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                        <small>
                            <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <a href="car-details.html"><img src="assets/images/product-5-370x270.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                        <h6><small><del> $11199.00</del></small> $11179.00</h6>

                        <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                        <small>
                            <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                        </small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="product-item">
                    <a href="car-details.html"><img src="assets/images/product-6-370x270.jpg" alt=""></a>
                    <div class="down-content">
                        <a href="car-details.html"><h4>Lorem ipsum dolor sit amet, consectetur</h4></a>

                        <h6><small><del> $11199.00</del></small> $11179.00</h6>

                        <p>190 hp &nbsp;/&nbsp; Petrol &nbsp;/&nbsp; 2008 &nbsp;/&nbsp; Used vehicle</p>

                        <small>
                            <strong title="Author"><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Author"><i class="fa fa-cube"></i> 1800cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong title="Views"><i class="fa fa-cog"></i> Manual</strong>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Về Chúng Tôi</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <p>Với quan điểm “THACO thể hiện trách nhiệm xã hội”, mỗi năm, THACO đều hỗ trợ nhiều hoạt động cộng đồng xã hội, để chia sẻ trách nhiệm trong nhiều lĩnh vực như: An ninh Tổ quốc, An sinh xã hội, An toàn giao thông, Giáo dục, Văn hóa - Văn nghệ, Y tế, Thể thao, Vì người nghèo, trao học bổng… Từ những thành quả đạt được trong kinh doanh và những đóng góp cho cộng đồng xã hội, liên tục nhiều năm qua Thaco đã được ghi nhận và vinh danh qua các giải thưởng: Bằng khen của Thủ tướng Chính phủ; Cờ Thi đua xuất sắc của Chính phủ; Bằng khen của các Bộ, ngành; Bằng khen của UBND tỉnh Quảng Nam; Bằng khen của UBND tỉnh Đồng Nai; Top 10 Sao vàng đất Việt; Top 10 giải thưởng thương hiệu Việt; Thương Hiệu Mạnh Việt Nam;... .</p>
                    <ul class="featured-list">
                        <li>
                            <a href="#">
                                Văn phòng Tổng quản TP.HCM:

                                Tòa nhà SOFIC -  số 10 Mai Chí Thọ, P. Thủ Thiêm, Quận 2, TP. Hồ Chí Minh.
                                Điện thoại: (028)39977824 - 25 - 26
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Văn phòng THACO tại Đồng Nai:

                                Số 19 đường 2A, Khu công nghiệp Biên Hòa 2, Tỉnh Đồng Nai
                                Điện thoại: 0613891726
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Văn phòng THACO tại Hà Nội:

                                Lô 6, KCN Hà Nội Đài Tư, 386 Nguyễn Văn Linh, Sài Đồng, Long Biên, Hà Nội
                                Điện thoại: 043 875 9314 - Fax: 043 875 8957
                            </a>
                        </li>

                    </ul>
                    <a href="about-us.html" class="filled-button">Đọc Thêm</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="assets/images/Aboutus.jpg" alt="" width="1000px">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Bài đăng tin tức mới nhất</h2>

                    <a href="blog.html">Đọc thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <a href="#" class="services-item-image"><img src="assets/images/blog-1-370x270.jpg" class="img-fluid" alt=""></a>

                    <div class="down-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</a></h4>

                        <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <a href="#" class="services-item-image"><img src="assets/images/blog-2-370x270.jpg" class="img-fluid" alt=""></a>

                    <div class="down-content">
                        <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit</a></h4>

                        <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <a href="#" class="services-item-image"><img src="assets/images/blog-3-370x270.jpg" class="img-fluid" alt=""></a>

                    <div class="down-content">
                        <h4><a href="#">Aperiam modi voluptatum fuga officiis cumque</a></h4>

                        <p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="happy-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Khách hàng hài lòng</h2>

                    <a href="testimonials.html">Đọc thêm <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel text-center">
                    <div class="service-item">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="down-content">
                            <h4>John Doe</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="down-content">
                            <h4>Jane Smith</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="down-content">
                            <h4>Antony Davis</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="down-content">
                            <h4>John Doe</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="down-content">
                            <h4>Jane Smith</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>

                    <div class="service-item">
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="down-content">
                            <h4>Antony Davis</h4>
                            <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>VUI LÒNG LIÊN HỆ VỚI CHÚNG TÔI QUA SỐ HOTLINE HOẶC QUA EMAIL.</h4>
                            <p>Chúng tôi sẽ giải đáp thắc mắc của bạn trong thời gian sớm nhất..</p>
                        </div>
                        <div class="col-lg-4 col-md-6 text-right">
                            <a href="contact.html" class="filled-button">Liên Hệ Với Chúng Tôi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

